HELP.md
target/
out/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Terraform ###
/terraform/.terraform/
/terraform/.terraform/*
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/*.tfstate
/terraform/*.tfstate.*
/terraform/*.tfvars

!/terraform/terraform.tfvars.example
!/terraform/.terraform.lock.hcl

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
.scannerwork
deploy
node_modules
package-lock.json
/terraform/src/